@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 
    body{
        font-family: 'Roboto' , sans-serif;
        background-color: #ff6f00;
        color:#ffeb0b;
        margin: 0 ;
        
       
 
    }
     main{
        max-width: 768px;
        margin:0 auto;
     }
     
    a:link {
        color:#8f2900
      }
      
      a:visited {
       color:#ffa200;
      }
        a:hover {
            color: #acfff7
          }
          a:active {
            color: #00878b
          }
        
          

          #header {
            text-align:center; background-color: rgb(0, 0, 255);
            color:#00ff5e
          }
          .float-right{
            float: right;
          }
          .excessive-text{
        font-weight:bold
        font-size 24px;
          }
          #portrait {
            float: left;
            margin-right: 8px;
            border-radius: 10%;
            position: fixed;
            top: 0;
          }
          
        #navbar {
            background-color: rgb(17, 0, 147)
        
        }
      a:sign-up.html.jinja{
      text-align:center; background-color: #000787;
        color:rgb(255, 191, 0)
        
      }
      