<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="ut f-8">
    <meta name="viewport" content="widith=device-widith, initial-scale=1">
     <title> Cookie Fashion | </title>
    <link href="static/style.css" rel="stylesheet">

</head>
<body>
<h1>Post Feed </h1>
{% for post in posts %}
   <div>
       <img src="{{post['post_image']}}">
        <p> {{ post['post_text']}}</p>
         <p> {{ post['post_timestamp']}}</p>
    <background-color = violet-red> 
    <img src ="fb5607" widith="300">
    
{%endfor%}
       </div>
   </body>
</html>


