<!DOCTYPE html>
<html lang="en">
 <meta charset="ut f-8">
    <meta name="viewport" content="widith=device-widith, initial-scale=1">
<body>
    <link href="static/style.css" rel="stylesheet">
    <form action="/sign-in" method="post">

        <input type="text" name="username">
        <input type="text" name="password">
        <input type="submit">
    </form>

</body>


</html>