<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="ut f-8">
    <meta name="viewport" content="widith=device-widith, initial-scale=1">
     <title> Cookie Fashion | </title>
    <link href="static/style.css" rel="stylesheet">

</head>
<body>

<main class="container">
    <h1>Hi{{user.display_name}}</h1>
    <p>{{user.bio}}</p>
    <p>{{user.photo}}</p>
    <p>{{user.display_name}}</p>
{% for post in posts %}
   <div>
       <img src= "/media/posts/{{post['post_image']}}" widith="300">
        <p> {{ post['post_text']}}</p>
         <p> {{ post['post_timestamp']}}</p>
    <img src ="thefive.png" heigth="50" widith="40">
    <input type="submit">
{%endfor%}

   
</main>
   </body>
</html>
